/* CUSTOM FONTS */

@font-face {
    font-family: 'The Bold Font';
    src: url('./assets/fonts/the_bold_font/THE BOLD FONT - FREE VERSION - 2023.ttf') format('truetype');
}

h1 {
    font-family: 'The Bold Font';
}

h2 {
    font-family: 'The Bold Font';
}

p {
    font-family: 'The Bold Font';
}